# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Test Results
test-results/
allure-results/
allure-report/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
cypress.env.json
.env
.env.local
